# Development / local env variables
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4321,http://127.0.0.1:8000
CSRF_TRUSTED_ORIGINS=http://localhost:4321,http://127.0.0.1:8000
HOST=http://localhost:8000
DB_ENGINE=django.db.backends.postgresql
DB_NAME=local database name
DB_USER=local database user
DB_PASSWORD=local database pass
DB_HOST=localhost
DB_PORT=5432
STORAGE_AWS=False
