# Global shared env variables in "dev" and "prod" enviroments, and enviroment selector. Email SMTP credentials are required
ENV=prod
SECRET_KEY=some random chars
DEBUG=True
EMAILS_NOTIFICATIONS=my-personal-email@gmail.com
EMAIL_HOST=smtp email host
EMAIL_PORT=smtp email port
EMAIL_HOST_USER=email email user
EMAIL_HOST_PASSWORD=emil email pass
EMAIL_USE_SSL=True
